.container {
  border-collapse: collapse;

  thead {
    th {
      text-align: left;
      font-weight: bold;
      background-color: #08b;
      color: white;
    }
  }

  th,
  td {
    border-bottom: 1px solid #ccc;
    padding: 0.25em 0.5em;
  }
}
